[Desktop Entry]
Comment=
Terminal=false
Name=Chromium
Exec=/home/ken/latest/chrome %u
Type=Application
Icon=/home/ken/.local/share/icons/hicolor/128x128/apps/chromium.png
